<!DOCTYPE html>
<html>
    <head>
        <title>Web-App</title>
        <link href="style.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" type="image/png" href="starbucks.png"/>
    </head>
    <body>
        <div class="slideshow">
            <div id="header">FIND YOUR STARBUCKS</div>
            <div id="bg1" class="bg" style='background-image: url("bgImg/bg1.jpg'); display:"></div>
            <div id="bg2" class="bg" style='background-image: url("bgImg/bg2.jpg');"></div>
            <div id="bg3" class="bg" style='background-image: url("bgImg/bg3.jpg');"></div>
            <div id="bg4" class="bg" style='background-image: url("bgImg/bg4.jpg');"></div>
            <div id="bg5" class="bg" style='background-image: url("bgImg/bg5.jpg');"></div>
        </div>
        <div id="loginbox">
            <div id=logintitle>Welcome!</div>
            <img id="starbucks" src="starbucks.png">
            <div id='loginout'>
                <form action='/login' method='post'>
                    <br>
                    <input type="text" id='userlogin' name="username" placeholder="username">
                    <br>
                    <br>
                    <input type="password" id='passwordlogin' name="password" placeholder="password">
                    <br><br>
                    <button type="login" id='login'>Login</button>
                </form>
                <button type="account" id='create'>Create Account</button>
            </div>
        <div id="createacc">
            <form action='/home' method='post'>
                <input class='inputs' type="text" name="NewUser" id='newuser' placeholder="enter username">
                <br><br>
                <input class='inputs' type="text" name="UserEmail" id='useremail' placeholder="enter your email">
                <br><br>
                <input class='inputs' type="password" name="NewPassword" id='newpw' placeholder="enter password">
                <br><br>
                <input class='inputs' type="password" name="confirmp" id='confirmpw' placeholder="confirm password">
                <br><br>
                <input type="submit" value="Submit" id='submitbutton'>
            </form>
            <button id="cancelBtn">Cancel</button>
        </div>
    </div>

    <script src="i1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>shortusername({{username}})</script>
</body>



</html>