<!DOCTYPE html>
<html>

<head>
    <title>Web-App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="starbucks.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrkIopyh3b866b5HgCZpRGT2CXlBGny_M&callback=initMap">
    </script>
</head>

<body id="body2">
    <div id="header2">
         <ul>
            <li>
                <a><input type="submit" onclick="showfavs()" value="Favorites" id='savedlocations'></a>
            </li>
            <li>
                <a><input type="submit" value="Back to Search" id='Searchlocation'></a>
            </li>
        </ul>
    <form action="/favdata" method='post'>
        <input type='submit' onclick="savelocation()" value="Save to Favorites" id='savecurrentloc'>
    </div>
    <form action="/rating" method="post">
        <fieldset id="ratingID" class="rating">
                <div id="ratingHeader">
                    <h4>Give Us Feedback</h4>
                </div>
                <input type="radio" id="star5" name="rating" value="5"/><label class ="full" for="star5"></label>
                <input type="radio" id="star4" name="rating" value="4"/><label class ="full" for="star4"></label>
                <input type="radio" id="star3" name="rating" value="3"/><label class ="full" for="star3"></label>
                <input type="radio" id="star2" name="rating" value="2"/><label class ="full" for="star2"></label>
                <input type="radio" id="star1" name="rating" value="1"/><label class ="full" for="star1"></label>
                <div id="ratingFooter">
                <textarea name="comment" cols="20" rows="5"
                 id="comment"/ placeholder="Your message"></textarea></br>
                    <div id="sendButton">
                        <input type="submit" value="Send" id="send"/>
                    </div>
                </div>
        </fieldset>
    </form>
    <form action="/favdata" method='post'>
        <div id="map">
            <div id='newmap'></div>
        </div>
        </form>
    <div id="nearme">
        <div id="searchbox">
            <form action='/loginsearch' method='post'>
                <input type="submit" value="Search" id='go'>
                <input type="text" name="search" id="search" placeholder="Search City Name">
            </form>
        </div>
        {{{testvar}}}
    </div>
    <div id="savedloc">
        <div id="searchbox"><h5>Saved Locations</h5>  <button id="edit" onclick="editMode()">Edit</button></div>
        {{{savedSpots}}}
    </div>
    <!---
    <button onclick="getLocation()" id='sbucksnearme'>Try It</button>
    !-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="i2.js"></script>
    <script>errorMessages({{error}})</script>
     {{{coord}}}
</body>

</html>