<!DOCTYPE html>
<html>

<head>
    <title>Web-App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="starbucks.png"/>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrkIopyh3b866b5HgCZpRGT2CXlBGny_M&callback=initMap">
    </script>
</head>

<body id="body2">
    <div id="header2">
         <ul>
            <li>
                <a><input type="submit" onclick="showfavs()" value="Favorites" id='savedlocations'></a>
            </li>
            <li>
                <a><input type="submit" value="Back to Search" id='Searchlocation'></a>
            </li>
        </ul>
        <input type='submit' onclick="savelocation()" value="Save to Favorites" id='savecurrentloc'>
    </div>
    <form action="/favdata" method='post'>
        <div id="map">
            <div id='newmap'></div>
        </div>
    </form>
    <div id="nearme">
        <div id="searchbox">
            <form action='/loginsearch' method='post'>
                <input type="submit" value="Search" id='go'>
                <input type="text" name="search" id="search">
            </form>
        </div>
        {{{testvar}}}
    </div>
    <div id="savedloc">
        <div id="searchbox">Saved Locations   <button id="edit" onclick="editMode()">Edit</button></div>
        {{{savedSpots}}}
    </div>
    <!---
    <button onclick="getLocation()" id='sbucksnearme'>Try It</button>
    !-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="i2.js"></script>
    <script>errorMessages({{error}})</script>
     {{{coord}}}
</body>

</html>