<!DOCTYPE html>
<html>

<head>
    <title>Web-App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrkIopyh3b866b5HgCZpRGT2CXlBGny_M&callback=initMap">
    </script>
</head>

<body background='background1.jpg'>
    <form action="/favdata" method='post'>
        <input type='submit' onclick="savelocation()" value="Save to Favorites" id='savecurrentloc'>
    </form>
    <input type="submit" value="Search" id='Searchlocation'>

    <input type="submit" onclick="showfavs()" value="Favorites" id='savedlocations'>
    <div id='newmap'></div>
    <div id="nearme">
        <div id="searchbox">
            <form action='/loginsearch' method='post'>
                <input type="submit" value="Go" id='go'>
                <input type="text" name="search" id="search">
            </form>
        </div>
        {{{testvar}}}
    </div>
    <div id="savedloc">
        <div id="searchbox">Saved Locations</div>
        {{{savedSpots}}}
    </div>
    <script src="i2.js"></script> {{{coord}}}
</body>

</html>