#header {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:7%;
    color:white;
    font-weight: lighter;
    font-size:18px;
    z-index: 999;
    font-family:'Segoe UI';
    background-color: rgba(0,0,0,0.4);
    padding-left:10px;
    display: table;
    color: white;
}

#header2 {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:7%;
    color:white;
    font-weight: lighter;
    font-size:18px;
    z-index: 999;
    font-family:'Segoe UI';
    background-color: black;
    padding-left:10px;
    z-index: -1;
}

.bg {
    position: absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: 50% 50%;
    margin:0;
    transition: opacity 1s ease-in;
}

.bg + .bg {
    opacity: 0;
}

.bg:before {
    content:"";
    background-color: rgba(80,107,47,0.25);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
}

body{
    margin: 0;
}

#body2{
    font-family:'Segoe UI';
    background: white;
}

#loginbox{
    height:80%;
    width:20%;
    min-width: 250px;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    background-color: rgba(255,255,255,.80);
}

#logintitle{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI';
}

#starbucks{
    position: absolute;
    height:20%;
    width:auto;
    left:0px;
    right:0px;
    margin:auto;
}

#loginout{
    position: absolute;
    height:40%;
    width:85%;
    left:0px;
    right:0px;
    margin: auto;
    bottom:10%;
    text-align: center;
    display: block;
}
#usertxt{
    width:80%;
    margin:8px;
}
#passwordtxt{
    width:80%;
    margin:8px;
}

form {
    text-align: center;
}

.iconBox {
    position: relative;
    width:80%;
    left:0;
    border-bottom: 1px solid green;
    margin:auto;
    text-align: center;
    transition-duration: 0.5s;
}

i {
    line-height: 2;
    position: absolute;
    top:0px;
    left:0;
    color: grey;
    z-index: 9999;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}



#userlogin, #passwordlogin{
    font-size: 100%;
    left: 0;
    width:75%;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: 2rem;
    color: #777;
    outline: none;
    transition-duration: 0.5s;
}


#login {
    position: relative;
    left: 0px;
    width:80%;
    line-height: 30px;
    outline:none;
    color:green;
    font-weight: bold;
    background-color:#ECECEC;
    border-top: .5px solid grey;
    border-left: .5px solid grey;
    box-shadow: 2px 2px #999;
    margin-bottom:10px;
    transition: 0.5s;
}

#login:hover, #submitbutton:hover{
    background-color: #3e8e41;
    color: white;
    transition-duration: .3s;
    transition-delay: 0s;
    cursor:pointer;
}

#login:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#create, #cancelBtn {
    right:0; left:0; bottom:0;
    margin: auto;
    padding:0;
    border:none;
    background:none;
    border-bottom:1px solid grey;
    color: #777;
    transition: 0.5s;
    cursor:pointer;
}

#cancelBtn {
    opacity: 0;
}

#mainpage{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    background-color: white;
    display:block;
}

#x{
    height:5%;
    width:3%;
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
}

#savedlocation{
    bottom:0px;
    position: absolute;
}
#location{
    bottom:0px;
    position: absolute;
    left:10%;
}

#mainpage2{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    background-color: white;
    display:none;
}

#searchbox {
    position: relative;
    display: table;
    background-color: rgba(255,255,255,.85);
    width: 95%;
    height: 6%;
    padding:5px;
    transition-property: background,box-shadow;
    transition-duration: 0.4s;
    text-align:center;
    background:transparent;

}
#search{
    position: absolute;
    top:20%;
    left:5%;
    width:65%;
    line-height: 20px;
    font-family:'Segoe UI';
}

#edit{
    width:20%;
    position: absolute;
    right:3%;
    top:10%;
    position: absolute;
    padding:0;
    margin:0;
    text-decoration: none;
    font-family:'Segoe UI';
    font-weight: normal;
    display:inline-block;
    border:none;
    outline:none;
    background-color:rgba(60,179,113,1);
    border-bottom:solid 1px rgba(60,179,113,1);
    transition: 0.5s;
    font-size:17px;
    color:white;
}

#go {
    width:20%;
    position: absolute;
    right:3%;
    top:20%;
    padding:0;
    margin:0;
    text-decoration: : none;
    font-family:'Segoe UI';
    font-weight: normal;
    display:inline-block;
    border:none;
    outline:none;
    color:white;
    transition: 0.5s;
    font-size:17px;
    background-color: rgba(60,179,113,1);
    border-bottom:solid 1px rgba(60,179,113,1);
    z-index: 9999;
}

#go:active {
    -ms-transform:translateY(4px);
    -webkit-transform:translateY(4px);
    transform:translateY(4px);
    z-index: 9999;
}

#edit:active {
    -ms-transform:translateY(4px);
    -webkit-transform:translateY(4px);
    transform:translateY(4px);
    z-index: 9999;
}


#loginbox1{
    height:40%;
    width:30%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}
#submitbutton{
    position: relative;
    left: -150px;
    width:80%;
    line-height: 30px;
    outline:none;
    color:green;
    font-weight: bold;
    background-color:#ECECEC;
    border-top: .5px solid grey;
    border-left: .5px solid grey;
    box-shadow: 2px 2px #999;
    margin-bottom:10px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.6s;
}
#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}


.iconBox2 {
    position: relative;
    width:80%;
    left:-150px;
    border-bottom: 1px solid green;
    margin:auto;
    text-align: center;
    transition-duration: 0.5s;
    opacity: 0;

}

#createacc{
    position: absolute;
    height:40%;
    width:85%;
    left:0px;
    right:0px;
    margin: auto;
    bottom:10%;
    text-align: center;
    display: none;
    transition-duration: 0.5s;

}


#newuser, #useremail,#newpw, #confirmpw {
    font-size: 100%;
    left: -150px;
    width:75%;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: 2rem;
    color: #777;
    outline: none;
    transition-duration: 0.5s;
}



#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}

/*input-submit:Back to Search*/
/*input-submit:Favorite*/
#savedlocations, #Searchlocation {
    outline:none;
    border:none;
    background:transparent;
    color:white;
    font-size: 15px;
    font-family: 'Segoe UI';
    font-weight: lighter;
}



ul {
    position: absolute;
    font-size: 0;
    box-sizing: border-box;
    width:40%;
    padding:4px;
    list-style: none;
    text-align: center;
    z-index: 999;
    margin:auto;
}


li {
    font-size: 18px;
    margin:0 8px;
    display:inline-block;
    z-index: 999;
    float:left;
}

li a {
    text-decoration: none;
    padding-bottom: 3px;
    color:#000;
    display: block;
    position: relative;
}


li a:before {
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    transition: all 0.3s ease;
    border-bottom: 2px solid #000;
    position: absolute;
    display: block;
    z-index: 999;
}

li a:hover:before {
    width: 50%;
    border-bottom: 2px solid #FFF;
    z-index: 999;
}

 li a:after {
    content: '';
    width: 0;
    right: 50%;
    bottom: 0;
    transition: all 0.3s ease;
    border-bottom: 2px solid #FFF;
    position: absolute;
    display: block;
    z-index: 999;
}

li a:hover:after {
    width: 50%;
    border-bottom: 2px solid #FFF;
    z-index: 999;
}

#savedloc{
    top:7%;
    left:0px;
    position: absolute;
    height:0%;
    width:25%;
    background-image:url("savedlocBG.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    overflow-y:scroll;
    transition-duration: 0.4s;
    font-size:18px;
    /*font-family: Verdana, Geneva, sans-serif; */
    font-family: 'Segoe UI';
}

#map {
    top:7%;
    position: fixed;
    height:93%;
    right:0;
    width:75%;
    text-align:center;
}

#newmap{
    position: absolute;
    height:100%;
    width:100%;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

/*button: Save to Favorite*/
#savecurrentloc{
    display: inline-block;
    background-color: transparent;
    border:2px solid rgba(60,179,113,1);
    position: absolute;
    width:15%;
    height:80%;
    color:rgba(60,179,113, 1) ;
    right:3%;top:50%;bottom:50%;
    margin:auto;
    z-index: 999;
    font-family:'Segoe UI';
    font-size:17px;
    background-size: 300% 200%;
    background-image: linear-gradient(to right, transparent 50%, rgba(60,179,113, 1) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

#savecurrentloc:hover {
    color:white;
    background-color: rgba(60,179,113,1);
    background-position: -200% 200%;
    z-index: 999;
    font-family:'Segoe UI';

}

#nearme{
    top:7%;
    position: absolute;
    height:93%;
    width:25%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    overflow-y:scroll;
    display:block;
    font-size:18px;
    transition-duration: .4s;
    background-image:url("nearmeBG.jpg");
    background-size: cover;
    background-position: center;
    z-index: 999;
}
.favItems {
    background-color:rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 5px;
    border: solid rgba(255,255,255,0.85) .5px;
    margin: 13px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    font-family: 'Segoe UI';
}

#sbucksnearme{
    position:absolute;
    bottom:0px;
    right:0px;
}

a {
    color:black;
    font-size:14px;
}

h5 {
    color:white;
    margin:0;
    font-size: 1em;
    font-weight: normal;
    height:60%;
    width:auto;
    text-align: center;
    display:table-cell;
    vertical-align: middle;
}
.delButton {

    display:none;
}




label {
    margin: 0; padding: 0;
    text-align: center;
}

fieldset{
    position: absolute;
    width:auto;
    height:30%;
    top:50%;bottom:50%;
    left:25%;
    margin:0; padding:0;
    background-color:transparent;
}

fieldset .rating {
    display: none;
}

#ratingHeader {
    width:100%;
    height:15%;
    display:table;
    background-color: green;
    color:white;
    text-align: center;
    margin-bottom: 5%;
}

h4 {
    display:table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-weight: lighter;

}


#sendButton {
    width:100%;
    height:15%;
    display:table;
    background-color: green;
    color:white;
    bottom:0;
    text-align: center;
}

#send {
    font-family: "Segoe UI";
    width:100%;
    font-weight: lighter;
    color:white;
    border:none;
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
}


#ratingFooter {
    position: absolute;
    width:100%;
    height:auto;
    margin:0;
    bottom:0;
}

#comment {
    width:9em;
    height:5em;
    margin-bottom: 10px;
    font-family: "Segoe UI";
}

.rating {
  border: none;
  float: left;
  z-index: 9999;
  background-color:white;
  display:none;
  position: absolute;
}

.rating > input {
    display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label {
  color: #ddd;
  float:right;
}


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }



h2 {
    margin:0;
    letter-spacing:3px;
    font-weight: lighter;
    font-size: 20px;
    display:table-cell;
    vertical-align: middle;
}

