#loginbox{
    height:80%;
    width:30%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
#logintitle{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
}
#starbucks{
    position: absolute;
    height:20%;
    width:auto;
    left:0px;
    right:0px;
    margin:auto;
    /*border-radius: 40%;*/
}
#loginout{
    position: absolute;
    height:40%;
    width:85%;
    left:0px;
    right:0px;
    margin: auto;
    bottom:10%;
}
#usertxt{
    width:80%;
    margin:8px;
}
#passwordtxt{
    width:80%;
    margin:8px;
}
#login{
    border-radius: 5px;
    position: absolute;
    right:45%;
}
#createacc{
    position: absolute;
    height:20%;
    width:20%;
    border: 2px solid black;
    border-radius: 5px;
    top:10%;
    background-color: grey;
    display:none;
}
#mainpage{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px; 
    margin:auto;
    background-color: white;
    display:block;
}
#x{
    height:5%;
    width:3%;
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
}
#savedlocation{
    bottom:0px;
    position: absolute;
}
#location{
    bottom:0px;
    position: absolute;
    left:10%;
}
#mainpage2{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px; 
    margin:auto;
    background-color: white;
    display:none;
}
#searchbox {
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid transparent;
    padding: 12px 104px 11px 64px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
}
#search{
    position: absolute;
    left:10px;
    width:60%;
}
#go{
    height:100%;
    width:20%;
    position: absolute;
    right:0px;
    top:0px;
}
#loginbox1{
    height:40%;
    width:30%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}
#submitbutton{
    position: absolute;
    bottom:35px;
    left:100px;
}
#newpw{
    position: absolute;
    left:69px;
    top:21px;
}
#confirmpw{
    position: absolute;
    left:69px;
    top:42px;
}
#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}
#newmap{
    position: absolute;
    height:60%;
    width:50%;
    top:0px;
    bottom:0px;
    margin:auto;
    left:38%;
    background-color: black;
}

#createacc{
    position: absolute;
    height:20%;
    width:20%;
    border: 2px solid black;
    border-radius: 5px;
    top:10%;
    background-color: grey;
    display:none;
}
#submitbutton{
    position: absolute;
    bottom:35px;
    left:100px;
}
#newpw{
    position: absolute;
    left:69px;
    top:21px;
}
#confirmpw{
    position: absolute;
    left:69px;
    top:42px;
}
#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}
#Searchlocation{
    position: fixed;
    bottom:0px;
    left:0px;
}
#savedlocations{
    position: fixed;
    bottom:0px;
    left:7%;
}
#savedloc{
    top:0%;
    left:0px;
    position: absolute;
    height:0%;
    width:25%;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y:scroll;
/*    transition: 1s;*/
    /*transition-delay: 1s;*/
    transition-duration: 1s;
    font-size:17px;
    font-family: Verdana, Geneva, sans-serif;
}
#savecurrentloc{
    position: absolute;
    bottom:15%;
    right:35%;
}
#nearme{
    top:0%;
    left:0px;
    position: absolute;
    height:90%;
    width:25%;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y:scroll;
    display:block;
    font-size:17px;
    font-family: Verdana, Geneva, sans-serif;
/*    transition: 2s;
    transition-delay: 0.5s;*/
    transition-duration: 1s;
}

.favItems {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    border: solid lightblue 1px;
    margin: 5px;
    box-shadow: 1px 1px;
}