#header {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:6%;
    color:white;
    font-weight: lighter;
    font-size:19px;
    z-index: 999;
    font-family:'Segoe UI';
    background-color: rgba(0,0,0,0.4);
    padding-left:10px;
}

#header2 {
    position: fixed;
    top:0;left:0;
    width:100%;
    height:7%;
    color:white;
    font-weight: lighter;
    font-size:19px;
    z-index: 999;
    font-family:'Segoe UI';
    background-color: rgba(0,0,0,0.4);
    padding-left:10px;
    z-index: -1;
}



.bg {
    position: absolute;
    width:100%;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-position: 50% 50%;
    margin:0;
    transition: opacity 1s ease-in;
}

.bg + .bg {
    opacity: 0;
}

.bg:before {
    content:"";
    background-color: rgba(80,107,47,0.25);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
}

body{
    margin: 0;
}

#body2{
    background-image: url('body2.png');
    font-family:'Segoe UI';
}

#loginbox{
    height:80%;
    width:25%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    /*border: 2px solid black;*/
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    /*border-radius: 5px;*/
    background-color: rgba(255,255,255,.80);
}
#logintitle{
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-size: 30px;
    font-weight: bold;
    font-family:'Segoe UI';
}
#starbucks{
    position: absolute;
    height:20%;
    width:auto;
    left:0px;
    right:0px;
    margin:auto;
    /*border-radius: 40%;*/
}
#loginout{
    position: absolute;
    height:40%;
    width:85%;
    left:0px;
    right:0px;
    margin: auto;
    bottom:10%;
    text-align: center;
    display: block;
}
#usertxt{
    width:80%;
    margin:8px;
}
#passwordtxt{
    width:80%;
    margin:8px;
}

form {
    text-align: center;
}

#userlogin, #passwordlogin {
    position: relative;
    width: 80%;
    font-size: 100%;
    left: 0px;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: 2rem;
    border-bottom: 1px solid green;
    color: #777;
    outline: none;
    transition-duration: 0.5s;
}

#login {
    position: relative;
    left: 0px;
    width:80%;
    line-height: 30px;
    outline:none;
    color:green;
    font-weight: bold;
    background-color:#ECECEC;
    border-top: .5px solid grey;
    border-left: .5px solid grey;
    box-shadow: 2px 2px #999;
    margin-bottom:10px;
    transition: 0.5s;
}

#login:hover, #submitbutton:hover{
    background-color: #3e8e41;
    color: white;
    transition-duration: .4s;
    transition-delay: 0s;
    cursor:pointer;
}

#login:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#create {
    right:0; left:0; bottom:0;
    margin: auto;
    padding:0;
    border:none;
    background:none;
    border-bottom:1px solid grey;
    color: #777;
    transition: 0.5s;
    cursor:pointer;
}

#mainpage{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    margin:auto;
    background-color: white;
    display:block;
}
#x{
    height:5%;
    width:3%;
    position: absolute;
    top:0;
    right:0;
    cursor: pointer;
}

#savedlocation{
    bottom:0px;
    position: absolute;
}
#location{
    bottom:0px;
    position: absolute;
    left:10%;
}
#mainpage2{
    position: absolute;
    height:90%;
    width:90%;
    border: 2px solid black;
    border-radius: 5px;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px; 
    margin:auto;
    background-color: white;
    display:none;
}
#searchbox {
    position: relative;
    background-color: rgba(255,255,255,.85);
    border:1px solid #aaa;
    width: 100%;
    height: 6%;
    padding:5px;
    transition-property: background,box-shadow;
    transition-duration: 0.3s;
    text-align:center;
}
#search{
    position: absolute;
    top:20%;
    left:5%;
    width:65%;
    line-height: 20px;
    font-family:'Segoe UI';
}
#go{
    top:20%;
    width:20%;
    height:26px;
    right:7%;
    line-height: 20px;
    position: absolute;
    background:#00704a;
    color:white;
    padding:0;
    border-style: outset;
    border-color:#00704a;
    text-shadow: none;
    font-family:'Segoe UI';
}
#loginbox1{
    height:40%;
    width:30%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}
#submitbutton{
    position: relative;
    left: -150px;
    width:80%;
    line-height: 30px;
    outline:none;
    color:green;
    font-weight: bold;
    background-color:#ECECEC;
    border-top: .5px solid grey;
    border-left: .5px solid grey;
    box-shadow: 2px 2px #999;
    margin-bottom:10px;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.6s;
}
#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}

#createacc{
    position: absolute;
    height:40%;
    width:85%;
    left:0px;
    right:0px;
    margin: auto;
    bottom:10%;
    text-align: center;
    display: none;
}

#newuser, #newpw, #confirmpw{
    position: relative;
    width: 80%;
    font-size: 100%;
    left: -150px;
    border: 0;
    padding: 0;
    background-color: transparent;
    line-height: 2rem;
    border-bottom: 1px solid green;
    color: #777;
    outline: none;
    opacity: 0;
    transition-duration:0.5s;
}
#confirmtitle{
    position: absolute;
    left:0px;
    top:42px;
}
#npasslabel{
    position: absolute;
    top:21px;
    left:0px;
}

/*button:Go back to Search*/
#Searchlocation{
    position: fixed;
    top:2%;
    right:1%;
    font-size:15px;
    border:none;
    background:transparent;
    color:white;
}

/*button:favorite in map page*/
#savedlocations{
    position: fixed;
    top:2%;
    right:13%;
    z-index: 999;
    font-size:15px;
    outline:none;
    border:none;
    background:transparent;
    color:white;

}

#savedlocations::after{
    position:absolute;
    bottom:-5px;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

#savedlocations:hover::after{
    bottom:-2.5px;
    opacity:1;
    visibility:visible;
}

#savedloc{
    top:0%;
    left:0px;
    position: absolute;
    height:0%;
    width:25%;
    background-color: rgba(255,255,255,.85);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    overflow-y:scroll;
    transition-duration: 0.4s;
    font-size:17px;
    font-family: Verdana, Geneva, sans-serif;
}

#map {
    top:10%;
    position: fixed;
    height:80%;
    right:8%;
    width:55%;
    text-align:center;
}

#newmap{
    position: absolute;
    height:80%;
    width:80%;
    top:0;bottom:0;right:0;left:0;
    margin:auto;
    background-color: black;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

/*button: Save to Favorite*/
#savecurrentloc{
    position: absolute;
    height:5%;
    width:20%;
    bottom:0;right:0;left:0;
    margin:auto;
    z-index: 999;
    text-align: center;
    font-family:'Segoe UI';
    font-size:15px;
}

#nearme{
    top:0%;
    position: absolute;
    height:90%;
    width:25%;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    overflow-y:scroll;
    display:block;
    font-size:17px;
    font-family: Verdana, Geneva, sans-serif;
    transition-duration: .4s;
    background-color: rgba(255,255,255,.85);
    z-index: 999;
}

.favItems {
    background-color:rgba(255,255,255,0.8);
    border-radius: 5px;
    padding: 5px;
    border: solid rgba(255,255,255,1) 3px;
    margin: 13px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}

#sbucksnearme{
    position:absolute;
    bottom:0px;
    right:0px;
}
