<!DOCTYPE html>
<html>
    <head>
        <title>Web-App</title>
        <link href="style.css" rel="stylesheet" type="text.css"/>
        <style>
        #loginbox1{
    height:40%;
    width:30%;
    position: absolute;
    left:0px;
    right:0px;
    margin:auto;
    top:0px;
    bottom:0px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}
        </style>   
    
    
    </head>
    <body background='background1.jpg'>
        <div id="loginbox1"> Username already exists
        <p><a href='/'>Home Page</a></p>
        </div>

        <script src="myjs.js"></script>
    </body>



</html>